/* BASE STYLES */

:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  /*-ms-flex-align: center;
  align-items: center;
  min-height: 75rem;
  padding-top: 40px;
  padding-bottom: 40px;*/
  background-color: #f5f5f5;
}

/* SIGNIN/REGISTER FORMS */

#signin-block,
#register-block {
  margin-top: 10rem;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* NAVIGATION BAR */

.nav-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: .25rem;
}

/* MAIN CONTAINER */

.fill {
  height: 90%;
  min-height: 90%;
  width: 100%;
}

#main-index {
  margin-top: 5rem;
}

/* FLASH MESSAGES*/

#messages {
  margin-top: 1.5rem;
}

/* PROFILE */

#profile-container {
  border: 0.25rem solid #17a2b8;
  border-radius: 25px;
  margin-top: 5em;
}

#profile-pic {
  display: inline-block;
  position: relative;
  z-index: 3;
  max-width: 15%;
  height: auto;
}

#quiz-list {
  margin-left: 2rem;
}

#overall-scores {
  margin-left: 2rem;
}

/* QUIZ QUESTION CONTAINER */

#game-container {
  background-color: lightgrey;
  border-radius: 25px;
  margin-top: 10rem;
}

/* CUSTOM QUIZ FORM */

#custom-quiz-form {
  margin-top: 5rem;
}

.quiz-setup {
  padding: 2rem;
  background-color: lightgrey;
  border-radius: 25px;
}

/* WELCOME MESSAGE */

#welcome-message {
  font-size: 1.25rem;
  font-weight: bold;
  color: #17a2b8;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
    /* TEN FRAMES */

    #tenframes {
      padding-top: 1rem;
      /*padding-left: 10rem;
      padding-right: 10rem;*/
    }

    #tenframe-table-one,
    #tenframe-table-two {
      border: 4px solid #17a2b8;
    }


    .table-bordered tr,
    .table-bordered td {
      border-color: white !important;
    }

    tr {
      line-height: 25px;
      min-height: 25px;
      height: 25px;
    }

    #tenframe-table td {
      width: 20%;
      height: 20%;
      padding: .25rem;
    }

    #sphere {
      height: 3rem;
      width: 3rem;
      background-color: #212529;
      border-radius: 50%;
    }

    /* SIDEBAR */

    #sidebar {
      border: 0.25rem solid darkgrey;
      border-radius: 25px;
      /*margin-top: 7rem;*/
      height: 65%;
    }

   #sidebar, ul {
     list-style-type: none;
   }


}

@media (max-width: 768px) {
  /* TEN FRAMES */
  #tenframes {
    display: none;
  }

  /* SIDEBAR */
  #sidebar {
    display: none;
  }

}

/* UNUSED STYLES */

/*#character {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

#left-eye {
  height: 20px;
  width: 20px;
  background-color: #555;
  border-radius: 50%;
}

#right-eye {
  height: 20px;
  width: 20px;
  background-color: blue;
  border-radius: 50%;
}

#left-pupil,
#right-pupil {
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
}

#triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid purple;
}*/