{% extends 'layout.html' %}

{% block content %}
<div class="row main-row fill" id="main-index">
     <div class="container d-flex-col col-8 align-self-start justify-content-center py-4" id="game-container">

            <p id="quiz-message"></p>

     </div>
    <div class="container d-flex-col col-3 align-self-stretch hidden-sm" id="sidebar">
        <p id="welcome-message">Welcome {{ current_user.username }}!</p>
        {% if session['current_quiz_desc'] %}
            <p>You are taking {{ session['current_quiz_desc'] }}</p>
        {% else %}
            <p>You aren't taking a quiz right now!</p>
        {% endif %}

        {% if quiz_list %}
            <p>{{ current_user.username }}'s Quizzes:</p>
            <ul>
            {% for quiz in quiz_list %}
                <li><a href="{{ url_for('startsavedquiz', saved_quiz_id=quiz.quiz_id, user_or_teacher='user') }}">{{ quiz.quiz_name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>You haven't created any quizzes yet!</p>
        {% endif %}

        {% if assigned_quizzes %}
            <p>Assigned Quizzes:</p>
            <ul>
                {% for assigned in assigned_quizzes %}
                    <li><a href="{{ url_for('startsavedquiz', saved_quiz_id=assigned.quiz_id, user_or_teacher='teacher') }}">{{ assigned.quiz_name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You have no assigned quizzes.</p>
        {% endif %}
    </div>
</div>
{% endblock %}