{% extends 'layout.html' %}

{% block content %}
<div class="container-fluid">
    <nav class="navbar fixed-top navbar-light bg-info">
      <a class="navbar-brand">Math Game!</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 d-inline-flex flex-row">
            <li class="nav-item"><a class="nav-item nav-link active" href="{{ url_for('startquickquiz') }}">Start Quick Quiz</a></li>
            <li class="nav-item"><a class="nav-item nav-link" href="{{ url_for('startcustomquiz') }}">Start Custom Quiz</a></li>
            <li class="nav-item"><a class="nav-item nav-link" href="{{ url_for('logout') }}">Sign Out</a></li>
        </ul>
    </nav>
</div>


    <div class="container d-flex-col justify-content-center py-4" id="game-container">
        <p id="quiz-question">

        </p>
        <p id="quiz-answer">

        </p>
        <form class="input-group" id="user-answer" action="{{ url_for('checkanswer') }}">
            <input type="text" name="user-answer-text" id ="user-answer-text" class="form-control" autofocus>
            <button type="submit" name="answer-btn" id="submit-answer-button" class="btn btn-info input-group-append">Check Answer!</button>
        </form>
        <button type="button" name="show-tenframe" id="show-tenframe" class="btn btn-dark">Show Ten Frame</button>
    </div>
    <div class="container" id="tenframes" hidden>

        <table class="table table-bordered table-dark" id="tenframe-table-one">
            <tbody>
            <tr>
                <td><p id="sphere"></p></td>
                <td><p id="sphere"></p></td>
                <td><p id="sphere"></p></td>
                <td><p id="sphere"></p></td>
                <td><p id="sphere"></p></td>
            </tr>
            <tr>
                <td><p id="sphere"></p></td>
                <td><p id="sphere"></p></td>
                <td><p id="sphere"></p></td>
                <td><p id="sphere"></p></td>
                <td><p id="sphere"></p></td>
            </tr>
            </tbody>
        </table>

        <table class="table table-bordered table-dark" id="tenframe-table-two">
            <tbody>
            <tr>
                <td><p id="sphere"></p></td>
                <td><p id="sphere"></p></td>
                <td><p id="sphere"></p></td>
                <td><p id="sphere"></p></td>
                <td><p id="sphere"></p></td>
            </tr>
            <tr>
                <td><p id="sphere"></p></td>
                <td><p id="sphere"></p></td>
                <td><p id="sphere"></p></td>
                <td><p id="sphere"></p></td>
                <td><p id="sphere"></p></td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}