{% extends 'layout.html' %}

{% block content %}
<div class="row main-row fill" id="main-profile">
    <div class="container d-flex-col col-8 align-self-start justify-content-center py-4" id="profile-container">
        <div class="h5 text-center col-sm" id="profile-heading">
            <img src="{{ url_for('upload_file', filename=selected_user.pic) }}" class="rounded-circle" id="profile-pic">
            {{ current_user.username }}'s Profile
        </div>
        <div class="row" id="quiz-list">
            Saved Quizzes:
            <ul>
            {% for quiz in quiz_list %}
                <li><a href="{{ url_for('startsavedquiz', saved_quiz_id=quiz.id) }}">
                    {{ quiz.quiz_name }}
                </a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!-- Modal for profile image -->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          {% if current_user.pic == "math_profile_blank.png" %}
            <h5 class="modal-title" id="uploadModalTitle">Upload Profile Image</h5>
          {% else %}
            <h5 class="modal-title" id="editModalTitle">Edit Profile Image</h5>
          {% endif %}
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('uploader') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" class="btn btn-outline-info btn-sm" value="Upload">
        </form>
      </div>
      <div class="modal-footer">
          {% if current_user.pic != "math_profile_blank.png" %}
            <button type="button" class="btn btn-outline-info btn-sm" id="remove-pic">Remove Profile Image</button>
          {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}