{% extends 'layout.html' %}

{% block content %}
<div id="register-block">
    <form class="form-signin" id="register-form" action="{{ url_for('register') }}" method="POST">
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal text-info">Math Quiz!</h1>
        </div>
        <div class="form-label-group">
            <input type="text" id="createUsername" class="form-control" placeholder="Username" name="username" required autofocus>
            <label for="createUsername">Pick username</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="createPassword" class="form-control" placeholder="Enter Password" name="password" required>
            <label for="createPassword">Enter Password</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" name="confirm-password" required>
            <label for="confirmPassword">Confirm Password</label>

        </div>
        <div class="form-label-group">
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" name="is-admin" aria-label="Checkbox for admin" id="adminCheck">
                <label class="form-check-label" for="adminCheck">Administrator</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" name="is-teacher" aria-label="Checkbox for teacher" id="teacherCheck">
                <label class="form-check-label" for="teacherCheck">Teacher</label>
            </div>
        </div>
        <button class="btn btn-lg btn-info btn-block" type="submit" name="register-btn" id="register-btn">
            Register!
        </button>
    </form>
    <p class="mt-5 mb-3 text-center text-info">
            Already have an account? <a class="text-info" href="{{ url_for('index') }}">Go Sign In</a>
    </p>
</div>
{% endblock %}