{% extends 'layout.html' %}

{% block content %}
<h1 class="h5 text-center" id="teacher-page-title">Teacher Admin Page</h1>
<div class="row teacher-admin-btns justify-content-center">
    <div class="dropdown" id="teacher-quiz-dropdown">
      <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Create Quiz
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{{ url_for('saveteacherquiz') }}">Equations</a>
        <a class="dropdown-item" href="#">Word Problems</a>
        <a class="dropdown-item" href="{{ url_for('numberbonds') }}">Number Bonds</a>
      </div>
    </div>
    <button type="button" class="btn btn-outline-info" id="teacher-student-list">
        Student List
    </button>
    <button type="button" class="btn btn-outline-info" id="teacher-add-student">
        Add Student
    </button>
    <button type="button" class="btn btn-outline-info" id="teacher-assign-quiz">
        Assign Quiz
    </button>
</div>

<!-- Modal for add student -->
<div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
            <h5 class="modal-title" id="addStudentModalTitle">Add Student</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('addstudent') }}" method="POST">
            <input type="text" id="addStudentUsername" placeholder="Student's username" name="student-username" required autofocus>
            <input type="submit" class="btn btn-outline-info btn-sm" value="Add">
        </form>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<!-- Modal for student list -->
<div class="modal fade" id="studentListModal" tabindex="-1" role="dialog" aria-labelledby="studetListModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="studentListModalTitle">Student List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    {% for student in student_list %}
                        <li>{{ student.username }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}